.field-type-discount-field-per-item div.fieldset-wrapper {
padding: 2px;
}
.field-type-discount-field-per-item .form-text {
width: 150px;
}
.field-type-discount-field-per-item div.fieldset-wrapper > div>span {
padding: 0 16px;
}
span.discount-field-old-price {
text-decoration: line-through;
padding-right: 4px;
opacity: 0.7;
}